body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
    background-color: orange;
}

.questoes {
    margin: 50px;
    padding: 10px;
    background-color: #fff;
}
